<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            body
            {
                margin: 50px auto;
                width :960px;
                color: #000000;
                font-family :Arial, sans-serif;
            }
            nav ul {
                list-style: none;
                padding: 0px;
                display: block;
                clear: right;
                padding-left: 4px;
                height: 40px;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/home">Home</a></li>
                <li><a href="http://localhost:3000/register">Register</a></li>
                <li><a href="http://localhost:3000/about">Contact</a></li>
            </ul>
        </nav>

    </body>
</html>